.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #151515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-brand {
  @apply bg-gradient-to-tr from-[#FA803C] to-[#C61A17] text-white font-bold py-2 px-4 rounded-xl border-0 shadow;
}

.btn-brand2 {
  @apply border-2 border-white px-6 bg-transparent rounded-none  hover:bg-[#E2512B] text-white hover:border-white;
}

.chiplet {
  @apply border-0 shadow px-6 py-3;
}

.annotation {
  cursor: pointer;
  outline: none;
  font-size: 8px;
  color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #e2512b;
  background: white;
}

::selection {
  color: #e2512b;
  background: white;
}

.in {
  width: 100%;
  height: 200px;
  background-color: olive;
}
